.main {
	background-color: #FFFFCC;
	width: 400px;
	padding: 10px;
	margin: auto;
}
.form {
	display: flex;
	margin-top: 30px;
}
*{
	box-sizing: border-box;
	font-family: Arial;
}
.form img {
	width: 80px;
	height: 80px;
}
.main h2 {
	color: #0000CC;
}

.form-group {
	width: 100%;
	display: flex;
	margin-bottom: 20px;
}
.form-group label {
	color: #000066;
	width: 40%;
	float: right;
	padding-right: 1px;
}
.form-group input {
	width: 60%;
	padding: 2px;
}
.form-group button {
	margin-right: 10px;
	padding: 2px;
	width: 90px;
}
.form-group .nav button{
	border: solid 1px black;
	background-color: #CCCCCC;
	font: arial;
}
.form-group .nav img {
	width: 15px;
}